.project-container {
	margin: 8px 0;
	transition: border-color 0.3s ease;
	border: 1px solid transparent;
	border-radius: 4px;

	&.branch-open {
		border-color: #9e9e9e;
	}

	& > .collapse {
		border: 1px solid #9e9e9e;
		border-radius: 4px;
		padding: 8px;
		margin-top: 4px;
	}
}

.typograph {
	display: flex;
	justify-content: space-between;
}

.list-item-button {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	justify-content: space-between;

	&:hover {
		background-color: #e0e0e0;
	}
}

.list-item-text {
	flex: 1;
	display: flex;
	align-items: center;
}

.staff-number {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	border: 1px solid #9e9e9e;
	border-radius: 20px;
	margin-left: auto;
	margin-left: 16px;
}
